-
  const aboutTypography = `
    <p>
      Консалтингова компанія ТОВ «ДІСКОРБ» є частиною міжнародної Групи компаній Caspit. Нашою метою ми бачимо: зрозуміти особливості бізнесу, з яким маємо страву, та забезпечити досягнення поставлених клієнтами цілей.
    </p>
    <p>
      Ми фокусуємося на роботі з клієнтами малого та середнього бізнесу, які хочуть отримати новий імпульс в динаміці розвитку, представляємо їх інтереси у переговорах з фінансовими установами для забезпечення очікуваного результату.
    </p>
    <p>
      У своїй роботі ми керуємося безкомпромісним правилом: в кредитні установи для залучення фінансування передається тільки той проєкт, який не викликає сумнівів щодо його ефективності, і в який компанія готова була б інвестувати власний капітал
    </p>
  `;

section.about
  ._container
    .about__warpper
      .about-media
        .about-media__container
          img(src=require('@/assets/img/about-media.jpg'), alt='about')

      .about__content
        .section-header
        p.section-header__subtitle ДІСКОРБ

        h2.section-header__title Про компанію

        .about__typography.typography!= aboutTypography

        button.about__button.button-filled.popup-open(data-popup='_popup-form')
          span Потрібна консультація
