section.banner.grey
  ._container.banner__container
    .banner__wrapper
      .banner__content
        h1.banner__title Залучення Фінансування
          |
          span.marked ПІД КЛЮЧ
            |
            <svg width="241" height="11" viewBox="0 0 241 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path id="Vector 20" d="M240 10C146.665 -1.6882 94.3354 -2.3078 0.999995 10" stroke="currentColor" stroke-width="2"/>
            </svg>

        p.banner__description Від складання бізнес-плану до безпосереднього представлення інтересів Вашої компанії у фінансових установах для отримання рішення

        button.banner__button.button-filled.popup-open(
          data-popup='_popup-form'
        )
          span Потрібна консультація

      .banner__media
        .banner__media__container
          img(src=require('@/assets/img/banner-media.jpg'), alt='banner')
