-
  const financingList = [
    `
      <span>Діагностика бізнесу та надання висновку щодо кредитоспроможності </span>
      та надання рекомендацій з ведення обліку і складання фінансової звітності 
    `,
    `
      <span>Консолідація та побудова фінансової моделі</span> компанії або її групи, маючи на меті забезпечити достатній рівень розкриття інформації для уникнення повторних запитів від банків. Складання пакету необхідних документів
    `,
    `
      <span>Представлення інтересів вашої компанії в кількох банках одночасно </span>
      для створення конкуренції між фінансовими установами та розширення можливостей для вашої компанії в доступі до кредитних коштів
    `,
    `
      <span>Менеджмент процесу розгляду банками заявки </span>
      вашої компанії до отримання рішення: опрацювання запитів банків, супровід підготовки документів на додаткові запити, організація та проведення зустрічей
    `,
  ];

section.financing.grey
  ._container
    .financing__wrapper
      .financing__content
        .section-header
          p.section-header__subtitle фінансування

          h2.section-header__title Наша роль у залученні фінансування для вашої компанії

        button.financing__button.button-filled.popup-open.desktop(
          data-popup='_popup-form'
        )
          span Потрібна консультація

        .financing-media
          img(src=require('@/assets/img/logo-black.svg'), alt='logo')

      ul.financing-list
        each item in financingList
          li.financing-list__item
            p.financing-list__description!= item
