@import 'normalize.css/normalize';
@import 'swiper/css';
@import 'swiper/css/autoplay';
@import 'swiper/element/css/autoplay';
//@import 'vevet/lib/styles/index';

@import './base';
@import './fonts';
@import './settings';

@import 'vevet/src/sass/components/scroll/scrollbar';
@import 'vevet/src/sass/components/loading/preloader';

@import './colors';
@import './common';
@import './wrap';

.#{$prefix}scrollbar {
  &__thumb {
    background-color: var(--color-red);
  }
}

html,
body {
  overflow-x: hidden;
  line-height: 160%;

  &.lock{
    overflow: hidden;
  }
}

html {
  &:not(.v-loaded) {
    overflow: hidden;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  @include reset-ul;
}

._container {
  width: 100%;
  // max-width: calc(100vw - 2 * var(--wrap));
  // margin: 0 auto;
  padding-left: var(--wrap);
  padding-right: var(--wrap);
  // margin: 0;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  cursor: pointer;
  text-decoration: unset;

  @include viewport-tablet-min {
    max-width: px-to-rem(161);
  }
  @include viewport-phone {    
    max-width: px-to-rem(140);
  }

  img,
  svg {
    width: 100%;
    height: auto;
  }
}

.button-filled {
  @include button-filled;
}

.button-hollow {
  @include button-hollow;

  // @include hover-focus-visible {
  //   @include non-mobile-device {
  //     color: var(--color-white);
  //   }
  // }

  // &::before {
  //   background-color: var(--color-black);
  // }
}

section,
.section {
  //overflow-x: hidden;

  &.grey {
    color: var(--color-black);
    background-color: var(--color-grey);
  }

  &.light {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  @include viewport-desktop {
    padding: px-to-rem(100) 0;
  }
  @include viewport-tablet {
    padding: px-to-rem(80) 0;
  }
  @include viewport-phone {
    padding: px-to-rem(50) 0;
  }
}

.section-header {
  //.section-header__subtitle 
  &__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: px-to-rem(10);

    text-transform: uppercase;
    line-height: 140%;
    font-weight: 400;
    font-size: px-to-rem(14);
    color: var(--color-red);

    &::before {
      content: '';
      display: block;
      flex-shrink: 0;
      width: 100%;
      height: 1px;
      margin-right: px-to-rem(8);

      background-color: currentColor;

      @include viewport-tablet-min {
        max-width: px-to-rem(38);
      }

      @include viewport-phone {
        max-width: px-to-rem(28);
      }
    }
  }
  
  //.section-header__title 
  &__title {
    @include text-heading-2;
  }
}

.contact-link {
  display: flex;
  width: 100%;
  align-items: center;

  @include transition(color 0.3s);
  text-decoration: unset;
  font-weight: 600;
  color: var(--color-black);

  @include hover-focus-visible {
    @include non-mobile-device {
      color: var(--color-red);
    }
  }

  @include viewport-tablet-min {
    font-size: px-to-rem(16);
  }

  @include viewport-phone {
    font-size: px-to-rem(14);
  }

  > * + * {
    margin-left: px-to-rem(10);

    @at-root .contact-link.header-call > * + * {
      margin-left: px-to-rem(4);
    }
  }

  //.header-call__label 
  &__label {
    position: relative;
    z-index: 0;
    flex-shrink: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: px-to-rem(28);
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;

    @include transition(background 0.2s);
    transform: translateZ(0);
    background-color: var(--color-blue);
    
    @at-root .contact-link:hover & {
      @include non-mobile-device {
        @include transition(background 1.6s);
        background-color: transparent;
      }
    }
    
    @at-root .contact-link:focus-visible & {
      @include non-mobile-device {
        @include transition(background 1.6s);
        background-color: transparent;
      }
    }

    &::before {
      content: '';
      display: block;
      @include absolute-fullsize;
      border-radius: inherit;

      @include transition(transform 0.4s);
      transform: translate(0, 110%);
      background-color: var(--color-red);

      @at-root .contact-link:hover .contact-link__label::before {
        @include non-mobile-device {
          transform: translate(0, 0);
        }
      }
      @at-root .contact-link:focus-visible .contact-link__label::before {
        @include non-mobile-device {
          transform: translate(0, 0);
        }
      }
    }

    img,
    svg {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  //.header-call__text 
  &__text {
    @at-root .contact-link.header-call & {
      @include viewport-tablet-max {
        display: none;
      }
    }
  }
}

.popup-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  > * + * {
    margin-top: px-to-rem(26);
  }

  //.popup-feedback__header 
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //.popup-feedback__label 
  &__label {
    width: 100%;
    margin-right: px-to-rem(20);

    @include viewport-tablet-min {
      max-width: px-to-rem(56);
    }
    @include viewport-phone {
      max-width: px-to-rem(48);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  //.popup-feedback__title 
  &__title {
    @include text-heading-3;

    color: var(--color-black);
  }

  //.popup-feedback__subtitle 
  &__subtitle {
    font-weight: 500;
    line-height: 164%;
    letter-spacing: normal;
    font-size: px-to-rem(16);
  }

  //.popup-feedback__button 
  &__button {
    max-width: px-to-rem(282);
    width: 100%;
    margin-top: px-to-rem(30);
  }
}

.dropdown {
  text-align: left;

  &.desktop {
    position: relative;
    z-index: 0;

    @include viewport-phone {
      display: none;
    }
  }

  &.mobile {
    // @include viewport-tablet-min {
    //   display: none;
    // }

    > * + * {
      margin-top: px-to-rem(14);
    }
  }

  //.dropdown__header 
  &__header {
    @include reset-button;

    display: block;
    font-weight: 600;
    font-size: px-to-rem(20);
    color: inherit;
    
    @at-root .dropdown.desktop & {
      @include transition(color 0.4s);
      font-size: px-to-rem(16);

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-red);
        }
      }
    }
  }

  //.dropdown-list 
  &-list {
    display: flex;
    flex-direction: column;

    @at-root .dropdown.desktop & {
      position: absolute;
      top: 100%;
      left: px-to-rem(-10);
      z-index: 0;

      width: max-content;
      padding: px-to-rem(10);

      opacity: 0;
      visibility: hidden;
      //transition: opacity 0.3s ease;
      transition: opacity 0.4s ease, visibility 0.3s 0.4s;

      background-color: var(--color-white);
    }

    @at-root .dropdown.desktop.viewed & {
      transition: opacity 0.4s ease 0.3s, visibility 0.3s 0s;
      opacity: 1;
      visibility: visible;
    }

    > * + * {
      margin-top: px-to-rem(8);

      @at-root .dropdown.mobile .dropdown-list > * + * {
        margin-top: px-to-rem(12);
      }
    }

    //.dropdown-list__item
    // &__item {

    // }

    //.dropdown-list__link 
    &__link {
      @include transition(color 0.4s);
      text-decoration: unset;
      font-size: px-to-rem(18);
      color: inherit;

      @include hover-focus-visible {
        @include non-mobile-device {
          color: var(--color-red);
        }
      }

      @at-root .dropdown.desktop & {
        font-size: px-to-rem(14);
      }
    }
  }
}

//templates
@import './layout/form';
@import './layout/header';
@import './layout/popup';
@import './layout/popup-custom';
@import './layout/footer';

@import './layout/menu';
@import './layout/advanced-list';
@import './layout/slider';
@import './layout/banner';
@import './layout/experience';
@import './layout/difficults';
@import './layout/growth';
@import './layout/financing';
@import './layout/cases';
@import './layout/about';
@import './layout/team';

@import './layout/seo-banner';
@import './layout/popup-action';
@import './layout/popup-team';
@import './layout/popup-case';
@import './layout/typography';
