-
  const menuPopupList = [
    {
      name: 'Главная',
      href: '#',
      goto: 'false',
      submenu: [],
    },
    {
      name: 'Системы видеонаблюдения',
      href: '#',
      goto: 'false',
      submenu: [
        {
          name: 'Для предприятий',
          href: '#',
          goto: 'false',
        },
        {
          name: 'Для игорного бизнеса',
          href: '#',
          goto: 'false',
        },
        {
          name: 'Для жилых помещений',
          href: '#',
          goto: 'false',
        },
      ],
    },
    {
      name: 'Контакты',
      href: '#',
      goto: '.footer',
      submenu: [],
    },
  ];

.modal-menu__header
  button.popup__close
    img(src=require('@/assets/img/popup-close-black.svg'), alt='close')

.modal-menu__main
  .dropdown.mobile
    p.dropdown__header Наші проекти

    ul.dropdown-list
      each item in dropdownList
        li.dropdown-list__item
          a.dropdown-list__link(
            href=`${item.href}`,
            target='_blank',
            rel='noreferrer'
          )= item.name

.modal-menu__footer
  button.button-hollow.popup-open.modal-menu__button(data-popup='_popup-form')
    span Обратный звонок
